* {
    margin: 0;
    padding: 0;
}

:root {
    --literature: 'Literature-Decor', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.about-us {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 1300px;
}

.about-img {
    width: 600px;
    height: 400px;
    border-bottom-right-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-img img {
    height: 100%;
}

.about-us p {
    width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.about-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 15px;
}

.about-title_name {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.about-title_line1 {
    border: 1px solid #C6A48C;
    width: 231px;
    height: 1px;
}

.about-title_line2 {
    border: 1px solid #C6A48C;
    width: 809px;
    height: 1px;
}

.about-title_line3 {
    border: 1px solid #C6A48C;
    width: 356px;
    height: 1px;
}

.about-title_line4 {
    border: 1px solid #C6A48C;
    width: 722px;
    height: 1px;
}

.about-title h1 {
    font-size: 70px;
    color: #C6A48C;
}

.about-title hr {
    width: 100%;
    display: flex;
    height: 2px;
    border: none;
    outline: none;
    background-color: #C6A48C;
}

.services-box {
    display: flex;
    flex-direction: column;
    width: 1300px;
    justify-content: space-between;
    gap: 56px;
}

.about-text p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
}

.services nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    border-right: 1px solid #000;
}

.services nav ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 300px;
}

.services nav ul li {
    list-style: none;
    flex: 1;
}

.services nav ul li a {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.services nav ul li a:hover {
    color: #C6A48C;
}

.services img {
    height: 485px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.services-title h1 {
    font-size: 70px;
    color: #C6A48C;
}

.services-title hr {
    display: flex;
    width: 100%;
    height: 1.5px;
    border: none;
    outline: none;
    background-color: #C6A48C;
}

.info-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    gap: 35px;
}

.info-service h2 {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.info-service p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.info-service button {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #C6A48C;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    outline: none;
}

.info-service button:hover {
    background-color: #C6A48C;
    color: white;
}

.card h1 {
    margin-bottom: 10px;
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.card p {
    font-size: 20px;
    width: 329px;
}

.column {
    display: flex;
    flex-direction: column;
}

.shares-card {
    width: 30%;
}

.shares-card img {
    width: 100%;
    border-top-left-radius: 95px;
    border-bottom-right-radius: 95px;
}

.shares-card h2 {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

.shares-card h2 span {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-decoration: line-through;
}

.shares-card p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

.action-box {
    width: 1300px;
    margin-top: 30px;
}

.row-1 {
    margin-top: 10px;
}

.row-1 img {
    width: 410px;
    height: 250px;
    border-radius: 0;
}

.see-more {
    margin-top: 20px;
    width: 200px;
    height: 50px;
}

.galery {
    flex-direction: column
}

.galery_imgs {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
}

.galery_imgs__img {
    width: 32%;
}

.galery_imgs__img img {
    width: 100%;
}


.feedback-box {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 50px;
}



.filter-box {
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.filter-box ul {
    display: flex;
    gap: 30px;
}

.filter-box ul li {
    list-style: none;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

.filter-box ul li:hover {
    color: #C6A48C;
    border: 1px solid #C6A48C;
}

.activeListCheck {
    color: #C6A48C !important;
    border: 1px solid #C6A48C !important;
}


button {
    display: flex;
    width: 184px;
    height: 59px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1.5px solid #C6A48C;
    color: #C6A48C;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background-color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #C6A48C;
    color: white;
}

.list-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.list-text p {
    margin-top: 10px;
    margin-right: 650px;
}

.phone {
    margin-bottom: 10px;
    margin-left: 20px;
}

.icons img {
    height: 50px;
    width: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.mainBlock_container {
    padding: 190px 0 50px 0;
    gap: 120px;
}

.container h1 {
    color: #C6A48C;
    font: 50pt "Literature Decor";
}

.show-more {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    color: #C6A48C;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.column {
    margin-top: 30px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 30%;
    border: 1.5px solid #C6A48C;
    border-top-left-radius: 92px;
    border-bottom-right-radius: 92px;
    gap: 30px;
}

.card h3 {
    color: #C6A48C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.row_seeMore {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.row_seeMore__btn {
    display: flex;
    width: 368px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1.5px solid #C6A48C;
    color: #C6A48C;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

.row_seeMore__btn:hover {
    background-color: #C6A48C;
    color: #fff;
}

.info-serivce button {
    margin-top: 70px;
}

.services-1 {
    display: flex;
}

.bottomMenu {
    width: 1300px;
    margin-top: 30px;
    justify-content: space-between;
}

.bottomMenu hr {
    height: 2px;
    background-color: #C6A48C;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottomMenu nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.bottomMenu nav ul {
    display: flex;
    gap: 90px;
}

.bottomMenu nav ul li {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    list-style: none;
}

.bottomMenu nav ul li a {
    text-decoration: none;
    color: black;
}

.bottomMenu nav ul li a:hover {
    color: #C6A48C;
}



.phoneInfo p:nth-child(1) {
    color: #000;
    font-size: 32px;
    font-weight: 400;
}

.phoneInfo p:nth-child(2) {
    color: #C6A48C;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin-top: 15px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.info_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}


.icon {
    display: flex;
    gap: 20px;
}

.icon a img {
    width: 65px;
    height: 65px;
}

.navbar-box {
    width: 1300px;
    margin: 0 auto;
}

.navbar-box nav {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #C6A48C;
}

.navbar-box nav ul {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.navbar-box nav ul li {
    list-style: none;
}

.navbar-box nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar-box nav ul li a:hover {
    color: #C6A48C;
}

.centerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    font-family: var(--literature);
    color: #C6A48C;
    font-size: 128px;
    font-weight: 400;
    line-height: 150%;
}

.text h2 {
    font-family: var(--literature);
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
}

.text p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
}

.mainPageNav {
    background-image: url('../images/navbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.mainPageNav nav ul li a {
    color: white;
}

.mainPageNav nav {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    border: none;
    margin: 0;
}

.activeLink {
    color: #C6A48C !important;
}



.service-title {
    display: flex;
    align-items: baseline;
    gap: 25px;
}

.service-title h1 {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 144px */
}

.service-title a {
    color: #000;
    font-family: var(--literature);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.service-block {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin-top: 30px;
    gap: 62px;
}

.text-service {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
}

.img_service {
    width: 35%;
    height: 550px;
    overflow: hidden;
}

.img_service img {
    height: 100%;
}


.rightRadius {
    border-top-right-radius: 198px;
}

.leftRadius {
    border-bottom-left-radius: 198px;
}

.service-block-right {
    display: flex;
    margin-top: 30px;
}

.service-block-right img {
    height: 400px;
    border-bottom-left-radius: 198px;
    margin-right: 20px;
}

.additional-info-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}


.text-service button {
    width: 300px;
}

.text-service p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.text-service h2 {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 54px */
}

.textP {
    width: 900px;
    font-size: 20px;
}

.additional-text {
    display: flex;
}



.container h1 {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 144px */
}

.image-gallery {
    display: flex;
    flex-direction: column;
}

.column {
    margin-top: 30px;
}

.column:first-child {
    margin-top: 0;
}

.row {
    display: flex;
}

.image-gallery img {
    height: 200px;
    border-top-left-radius: 92px;
    border-bottom-right-radius: 92px;
}

.card-list {
    margin-top: 50px;
}

.price-info {
    display: flex;
    flex-direction: column;
}

.price-info h3 {
    margin-top: 5px;
    font: 25pt "Literature Decor";
    color: #C6A48C;
}

.price-info p {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-image-gallery {
    margin-right: 30px;
}


.info-service {
    display: flex;
    margin-top: 20px;
}

.info-service h1 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.info-service img {
    height: 500px;
    border-bottom-left-radius: 192px;
}

.price-list {
    display: flex;
    flex-direction: column;
    width: 1300px;
}

.price-list h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.price-list ul {
    display: flex;
    flex-direction: column;
}

.price-list ul li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.price-list ul li:last-child {
    border-bottom: none;
}

.price-list ul li p {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    /* 36px */
}

.price-list ul li p:nth-child(2) {
    color: #C6A48C;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    /* 36px */
}

.hr-wh {
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-list h2 {
    color: #C6A48C;
    font-family: var(--literature);
    font-size: 36px;
    font-weight: 400;
    line-height: 150%;
}

/* Слайдер */

.exampleWork h1 {
    margin-top: 30px !important;
    color: black !important;
    font-size: 32px !important;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    height: 200px;
    margin-right: 20px;
    border-radius: 30px;
}

.slider button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.listImages {
    margin-left: 20px;
    margin-right: 20px;
}

.imgCont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgCont .galery_imgs {
    width: 1300px;
}

.aboutService {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

.aboutService_left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutService_left__title {
    color: #000;
    font-family: var(--literature);
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
}

.aboutService_left__text {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.aboutService_left a button {
    width: 350px;
}

.aboutService_right__img {
    width: 630px;
    overflow: hidden;
    border-radius: 0px 0px 0px 198px;
}

.aboutService_right__img img {
    width: 100%;
}

.svgBox {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid #C6A48C;
}

.examplesService {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.examplesService_img {
    width: 30%;
}

.examplesService_img img {
    width: 100%;
}

.examplesTitle {
    color: #000;
    font-family: var(--literature);
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.row_block {
    display: flex;
    flex-direction: row;
}

.row_reverse {
    display: flex;
    flex-direction: row-reverse;
}